<h2>Community</h2>

<table style="border: 1px solid black">
    <tr style="border: 1px solid black">
        <th style="border: 1px solid black">Profile Image</th>
        <th style="border: 1px solid black">Username</th>
    </tr>
    <% @users.each do |user| %>
    <tr style="border: 1px solid black">
        <td style="border: 1px solid black"><img src="<%= user.avatar_url %>" alt="<%= user.username %>'s Avatar"></td>
        <td style="border: 1px solid black"><a href="/profile/<%= user.id %>"><%= user.username %></a></td>
    </tr>
    <% end %>
</table>