<h2>Community</h2>

<table style="border: 1px solid black">
    <tr style="border: 1px solid black">
        <th style="border: 1px solid black">ID</th>
        <th style="border: 1px solid black">Username</th>
    </tr>
    <% @users.each do |user| %>
    <tr style="border: 1px solid black">
        <td style="border: 1px solid black"><%= user.id %></td>
        <td style="border: 1px solid black"><%= user.username %></td>
    </tr>
    <% end %>
</table>