<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Watchman</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/profile">Profile</a>
        </nav>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
        Copyright &copy; 2019 The Watchman, Inc.
    </footer>
</body>
</html>