<%= flash[:si_error] %>

<h1>Sign In!</h1>
<form action="/signin" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>