<div id="signup-box">
    <%= flash[:su_error] %>
    <h2 class="signed-out-h2">Sign Up!</h2>
    <form action="/signup" method="post">
        <p class="field-labels">Personal:</p>
        <input class="input-field" type="text" name="first_name" placeholder="First Name" required>
        <input class="input-field" type="text" name="last_name" placeholder="Last Name" required>
        <input class="input-field" type="text" name="email" placeholder="Email">
        <input class="input-field" type="text" name="birthday" placeholder="Birthday">
        <hr>
        <p class="field-labels">Profile:</p>
        <input class="input-field" type="text" name="username" placeholder="Username">
        <input class="input-field" type="password" name="password" placeholder="Password">
        <hr>
        <input class="submit-btn" type="submit" value="Submit">
    </form>
</div>