/* 
    color scheme:
    1. white = #fff --> post and profile column background color, and header/footer font color
    2. black = #000 --> font color
    3. #eff5f5 --> main background color
    4. #e6ac00 --> main button color
    5. #006680 --> header/footer background color

    font family scheme:
    1. All text --> code pro 
       import --> @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
       Specify in css --> font-family: 'Source Code Pro', monospace;
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Everything */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Code Pro', monospace;
}

/* begin defaults*/
nav a {
    margin: 0 30px;
}
/* end defaults */

/* color fonts white begins */
nav a, nav a:hover, #signed-out-h1, #main-btns-box a, #main-btns-box a:hover, .signed-out-h2, h1, .field-labels {
    color: #ffffff;
}
/* color fonts white ends */

/* Header begins */
#header-signed-in, footer {
    background-color: #006680;
    color: #ffffff;
    height: 5vh;
    font-size: 1.2em;
    text-align: center;
}

#header-signed-out {
    display: none;
}
/* header ends */

/* main signed out begins */
#main-signed-out {
    background: url(https://images.pexels.com/photos/1444416/pexels-photo-1444416.jpeg?cs=srgb&dl=clean-comfort-contemporary-1444416.jpg&fm=jpg) center center no-repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
}

#main-box-signed-out {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    border-radius: 5px;
}

#signed-out-h1 {
    font-weight: 900;
    margin-bottom: -2px;
}

#main-btns-box {
    height: 100%;
    padding: 30px;
}

#main-btns-box a {
    background-color: #e6ac00;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
    margin: 0 15px;
    border-radius: 5px;
}
/* main signed out ends */

/* signin begins */
#signin-box {
    padding: 5px 30px 20px 30px;
}
/* signin ends */

/* signup begins */
#signup-box {
    padding: 5px 30px 20px 30px;
}

#signup-box hr {
    background-color: #ffffff;
}
/* signup ends */

/* signed out form begins */
.input-field {
    border: 1px solid #e6ac00;
    border-radius: 5px;
    padding: 5px;
}

.submit-btn {
    border: none;
    background-color: #e6ac00;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 5px;
}
/* signed out form ends */

/* main signed in begins */
#main-box-signed-in {
    background-color: #eff5f5;
    height: 100%;
}
/* main signed in ends */

/* dashboard begins */
#dashboard-sect {
    display: flex;
}

/* side profile begins */
.signed-in-h4 {
    margin: 20px 0;
}

.side-profile, .wall {
    border: 1px solid black;
}

.side-profile {
    background-color: #ffffff;
    width: 18%;
    text-align: center;
}

.side-profile ul li {
    margin: 12px 0;
}

.side-profile img {
    border-radius: 5px;
}

.signout-btn {
    background-color: #e6ac00;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5.5px;
    margin-top: 15px;
    border-radius: 5px;
}

.signout-btn:hover {
    background-color: rgb(216, 35, 35);
    color: #ffffff;
    text-decoration: none;
}